/* Fonts */
@font-face {
	font-family: 'SUIT';
	font-weight: 100 900;
	font-display: optional;
	src: url('./assets/fonts/SUIT-Variable.woff2') format('woff2');
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
}
